<span class="channel-name">Канал: {{ channelName }}</span>

<div class="scroll-panel">
  <div *ngFor="let message of messages" class="message">
    <span *ngIf="message.showUsername" class="username">
      {{ message.username }}
    </span>
    <span class="text">{{ message.text }}</span>
  </div>
</div>

<div class="message-input-container">
  <input
    [(ngModel)]="messageText"
    [disabled]="!channelName.length"
    (keydown.Enter)="onSendClick()"
    placeholder="Введите сообщение"
    pInputText
    type="text"
  />

  <p-button
    [disabled]="!messageText.length"
    (onClick)="onSendClick()"
    class="icon-button"
    icon="pi pi-send"
    title="Отправить сообщение"
    severity="secondary"
  />
</div>
