:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span {
    font-weight: bold;
    width: 300px;
  }

  input, p-button {
    width: 300px;
  }
}
