:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f0f4fa;
  align-items: center;
  justify-content: center;
  gap: 8px;

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input, p-button {
      width: 300px;
    }
  }
}
