<div class="main-container">
  <div class="sidebar">
    <app-user-menu
      [user]="currentUser$ | async"
      (logout)="onLogout($event)"
      (openSettings)="onOpenSettings()"
    ></app-user-menu>

    <app-channels-list
      [selectedChannel]="selectedChannel$ | async"
      [userChannels]="(currentUserChannels$ | async) || []"
      (addChannel)="onOpenAddChannelWindow()"
      (selectChannel)="onSelectChannel($event)"
    ></app-channels-list>

    <app-channel-users
      [channelUsers]="(channelUsers$ | async) || []"
      [selectedChannel]="selectedChannel$ | async"
      (addUser)="onOpenAddUserWindow()"
    ></app-channel-users>
  </div>

  <div class="chat">
    <app-chat
      [channelName]="(selectedChannel$ | async)?.name || ''"
      [messages]="(messagesToShow$ | async) || []"
      (sendMessage)="onSendMessage($event)"
    ></app-chat>
  </div>
</div>
