@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #3e4857;
}

p-button {
  button {
    width: 100%;
    height: 100%;
  }

  &.icon-button {
    .pi {
      font-size: 20px;
    }
  }
}

p-listbox {
  width: 100%;
  height: 100%;

  .p-listbox {
    width: 100%;
    height: 100%;
  }

  .p-highlight {
    background: #9da9b9;
    color: #ffffff;
    font-weight: bold;
  }

  &.users-listbox {
    .p-listbox-item {
      background: none;
      color: #4b5563;
      font-weight: 500;
      cursor: default;
    }
  }
}

p-dropdown {
  .p-dropdown {
    width: 100%;
  }
}
